{{!< layout-land}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <p class="subtitle">{{title}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p class="subtitle">{{title}}</p><br>
            <image src="{{{draw hostBaseUrl projectKey jLand}}}"/>"
            
        </div>
      </div>
    </section>
  </div>
</div>
